name: Nightlies
on:
  schedule:
    # runs every day at 1:45 UTC
    - cron: "45 01 * * *"
  workflow_dispatch:

jobs:
  update_build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["stable", "nightly"]
    steps:
      - name: Checkout tiledb-rs
        uses: actions/checkout@v4
      - name: Install Rust ${{ matrix.version }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.version }}
          components: clippy, rustfmt
      - name: Install TileDB
        uses: ./.github/actions/install-tiledb
      - name: Check Formatting
        run: cargo fmt --quiet --check
      - name: Update Dependencies
        run: cargo update --recursive
      - name: Lint
        if: ${{ matrix.version != 'nightly' }}
        run: cargo clippy --all-targets --all-features -- -Dwarnings
      - name: Lint
        if: ${{ matrix.version == 'nightly' }}
        # The nightly complier/clippy complain about the proptest derive
        # macros. Originally I disabled via `--cfg` but now a new lint warns
        # on that approach. So I'm just disabling the particular lint globally.
        run: cargo clippy --all-targets --all-features -- --allow non_local_definitions -Dwarnings
      - name: Build
        run: cargo build --all-targets --all-features
      - name: Test
        run: cargo test --all-targets --all-features

  create_issue_on_fail:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    needs: update_build_and_test
    if: failure() || cancelled()
    steps:
      - uses: actions/checkout@v3
      - name: Create Issue on Failure
        uses: TileDB-Inc/github-actions/open-issue@main
        with:
          name: Nightly Build Failure
          label: nightly-failure
          assignee: davisp,rroelke
