name: PR Build and Test
on:
  workflow_call:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tiledb-rs
        uses: actions/checkout@v4
      - name: Install Rust Stable
        uses: dtolnay/rust-toolchain@stable
      - name: Setup Rustc Cache
        uses: Swatinem/rust-cache@v2
      - name: Install TileDB
        uses: ./.github/actions/install-tiledb
      - name: Check Formatting
        run: cargo fmt --quiet --check
      - name: Lint
        run: cargo clippy --no-deps --all-targets --all-features -- -Dwarnings
      - name: Build
        run: cargo build --all-targets --all-features
      - name: Test
        run: cargo test --all-targets --all-features
