name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "release-*"
    tags:
      - "*"

jobs:
  run:
    name: "Prepare: ${{ matrix.os }}"
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
          - "linux-arm64-ubuntu24"
          - "macos-15-intel"
          - "macos-latest"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout tiledb-rs
        uses: actions/checkout@v4
      - name: Install TileDB
        uses: ./.github/actions/install-tiledb
      - name: Install Rust ${{ matrix.rust }}
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - name: Check Formatting
        run: cargo fmt --quiet --check
      - name: Lint
        run: cargo clippy --all-targets --all-features -- -Dwarnings
      - name: Build
        run: cargo build --workspace --all-targets --all-features
      - name: Test
        # Exclude tiledb-sys per https://github.com/TileDB-Inc/tiledb-rs/pull/238
        run: cargo test --no-fail-fast --workspace --all-targets --all-features --exclude tiledb-sys

  create_issue_on_fail:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    needs: run
    if: failure() || cancelled()
    steps:
      - uses: actions/checkout@v3
      - name: Create Issue on Failure
        uses: TileDB-Inc/github-actions/open-issue@main
        with:
          name: Release Workflow Failure
          label: release-failure
          assignee: davisp,rroelke
